<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> {% block title %} {{ mytitle }} {% endblock %} </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="js/script.js"></script>
</head>


<body>
    <div id="navBar">
        <div id="navRow1">
            <h1 id="navTitle"> &#129504; George Vengrovski &#129300; </h1>
        </div>
        <div id="navRow2">
            <a id="link" href="/">
                <h2 id="navRow2Items"> Home </h2>
            </a>
            <a id="link" href="/writings">
                <h2 id="navRow2Items"> Writings </h2>
            </a>
            <a id="link" href="/projects">
                <h2 id="navRow2Items"> Projects </h2>
            </a>
            <a id="link" href="/about">
                <h2 id="navRow2Items"> About </h2>
            </a>
        </div>
    </div>
    <div>
        {% block body %} {% endblock %}
    </div>
</body>

</html>