{% extends 'base.html' %} {% block title %} Home {% endblock %} {% block body %}
<br>
<h2 class="generalText"> &#128202; Projects &#128202;
</h2>

{% for project in projects %}

<div class="generalText">
    <a id="projectsLink" href="{{  url_for('project', project_id=project['title']) }}">
        <div id="projectsContainer">
            <div id="projectsCard">
                <p id="projectsTitle"> {{ project['title'] | safe}} </p>
                <p id="projectsDate"> {{ project['created'] | safe}} </p>
                <p id="projectsPreviewText"> {{ project['previewText'] | safe}} </p>
                <p id="projectsTopic"> {{ project['topic'] | safe}} </p>
            </div>
        </div>
    </a>
</div>
{% endfor %} {% endblock %}