{% extends 'base.html' %} {% block title %} Home {% endblock %} {% block body %}
</h2>
</br>
{% for project in projects %}

<h2 style="text-align: center;"> &#127959; Under Construction &#127959;</h2>

<!--
<div class="generalText">
    <a id="projectsLink" href="{{  url_for('project', project_id=project['title']) }}">
        <div id="projectsContainer">
            <div id="projectsCard">
                <p id="projectsTitle"> {{ project['title'] | safe}} </p>
                <p id="projectsDate"> {{ project['created'] | safe}} </p>
                <p id="projectsPreviewText"> {{ project['previewText'] | safe}} </p>
                <p id="projectsTopic"> {{ project['topic'] | safe}} </p>
            </div>
        </div>
    </a>
</div>
-->
{% endfor %} {% endblock %}