{% extends 'base.html' %} {% block title %} Home {% endblock %} {% block body %} {% for post in posts %}
</br>
<div class="libaryText">
    <a id="libaryPosts" href="{{  url_for('post', post_id=post['id']) }}">
        <div id="libaryEntry">

            <div id="libaryTopRow">
                <p id="libaryEmoji"> &#10024; </p>
                <p id="libaryTitle"> {{ post['title'] | safe}} </p>
                <p id="libaryTopic"> [ {{ post['topic'] | safe }} ]</p>
                <p id="libaryDate"> {{ post['created']}} </p>
            </div>
            <div id="libaryBottomRow">
                <p id="libaryPreview"> {{ post['previewText']}} </p>
            </div>
        </div>
    </a>
</div>
{% endfor %} {% endblock %}