@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,700&display=swap');
body {
    max-width: 700px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
}

h1 {
    font-family: 'Inconsolata', monospace;
    text-align: center;
}

p {
    font-size: 18px;
    margin: 0;
    padding: 0;
    font-family: 'Inconsolata', monospace;
    line-height: 1.25;
}

strong {
    font-family: 'Inconsolata', monospace;
    font-size: 18px;
}

h3 {
    font-size: 22px;
    font-family: 'Inconsolata', monospace;
}

h4 {
    font-size: 18px;
    font-family: 'Inconsolata', monospace;
}

.postParagraph {
    margin-bottom: 20px;
    text-indent: 30px;
}

.postStrong {
    margin-bottom: 20px
}

.postItalics {
    font-family: 'Inconsolata', monospace;
    font-size: 18px;
}

#navBar {
    font-family: 'Inconsolata', monospace;
    display: flex;
    flex-direction: column;
}

#navRow1 {
    text-align: center;
}

#navRow2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#navRow2Items {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 22px;
}

#navTitle {
    margin: 0;
    padding: 0;
    font-size: 42px;
}


/* This is needed to override the weird underline */

:-webkit-any-link {
    text-decoration: none;
}

#link:hover {
    text-decoration: underline;
}

a:visited {
    text-decoration: none;
    color: black;
}

.generalText {
    font-family: 'Inconsolata', monospace;
    line-height: 1.25;
}

.libaryText {
    font-family: 'Inconsolata', monospace;
}

#libaryTitle {
    font-weight: 700;
    justify-self: flex-start;
}

#libaryTopic {
    margin-left: 10px;
    margin-right: 10px;
    justify-self: flex-start;
    flex: 0 0 auto;
}

#libaryEntry {
    display: flex;
    align-items: baseline;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    flex-wrap: wrap;
}

#libaryDate {
    font-style: italic;
    margin-left: auto;
    justify-self: flex-end;
    flex: 0 0 auto;
    display: flex;
}

#libaryTopRow {
    display: flex;
    align-items: baseline;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}

#libaryBottomRow {
    display: flex;
    align-items: baseline;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 35px;
    margin-top: 10px;
    margin-bottom: 45px;
}

#libaryEmoji {
    margin-right: 15px;
    justify-self: flex-start;
}

#projectsContainer {
    display: flex;
}

#projectsCard {
    max-width: 335px;
}

#aboutContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
}

#aboutImage {
    max-width: 240px;
    max-height: 240px;
    border-radius: 10%;
    margin: 10px;
}

#aboutBlurb {
    margin: 10px;
    min-width: 200px;
    max-width: 420px;
}

#aboutBlurbContainer {
    display: flex;
    flex-direction: column;
}

#aboutSocialContainer {
    margin: 5px;
}

.aboutSocialText {
    font-family: 'Inconsolata', monospace;
    line-height: 1.25;
    font-style: italic;
}

#homeLinksContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 15px;
}

table,
th,
td {
    border: 2px dashed black;
}

table {
    width: 100%;
    margin-bottom: 25px;
    border-collapse: collapse;
    font-size: 18px;
    font-family: 'Inconsolata', monospace;
    line-height: 1.25;
    margin-top: 15px;
}

ol {
    font-family: 'Inconsolata', monospace;
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 1.25;
}


/* Credit to Matt Smith For Table Design

table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
}

table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
}

table th,
table td {
    padding: .625em;
    text-align: center;
}

table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}

@media screen and (max-width: 600px) {
    table {
        border: 0;
    }
    table caption {
        font-size: 1.3em;
    }
    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }
    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }
    table td::before {
        /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */


/* content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }
    table td:last-child {
        border-bottom: 0;
    }
} */